.scoreWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uniName {
    padding: 40px;

    background-color: #EDD2B6;
    color: black;

    border-radius: 30px;

    font-size: 5.0em;
}

.score {
    margin: 20px;
    padding: 20px;

    background-color: #A0E5FE;
    color: black;
    border-radius: 30px;

    font-size: 8.0em;
}